<form #f="ngForm" ngNativeValidate (ngSubmit)="saveHero(f)">
    <h3 *ngIf="hero._id" class="box-title m-b-0">Edit Hero</h3>
    <h3 *ngIf="!hero._id" class="box-title m-b-0">New Hero</h3>
    <div class="card card-body">
        <div class="form-row">
            <div class="form-group col-md-6">
                <label>First name</label>
                <input [(ngModel)]="hero.firstname" name="firstname" type="text" class="form-control"
                    placeholder="Hero firstname" required />
            </div>
            <div class="form-group col-md-6">
                <label>Last name</label>
                <input [(ngModel)]="hero.lastname" name="lastname" type="text" class="form-control"
                    placeholder="Hero lastname" />
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-6">
                <label>Race</label>
                <select (change)="changeRace( $event.target.value )" [(ngModel)]="race._id" name="race"
                    class="form-control" required>
                    <option value="">Select hero race</option>
                    <option *ngFor="let race of races" [value]="race._id">
                        {{ race.name }}
                    </option>
                </select>
            </div>
            <div class="form-group col-md-6">
                <label>Class</label>
                <select (change)="changeClass( $event.target.value )" [(ngModel)]="class._id" name="class"
                    class="form-control" required>
                    <option value="">Select hero class</option>
                    <option *ngFor="let class of classes" [value]="class._id">
                        {{ class.name }}
                    </option>
                </select>
            </div>
        </div>
        <div class="form-row">
            <label>Weapon</label>
            <select (change)="changeWeapon( $event.target.value )" [(ngModel)]="weapon._id" name="weapon"
                class="form-control" required>
                <option value="">Select weapon</option>
                <option *ngFor="let weapon of weapons" [value]="weapon._id">
                    {{ weapon.name }}
                </option>
            </select>
        </div>
        <div class="form-row text-center">
            <hr>
            <h4>Stats</h4>
            <hr>
        </div>
        <div class="form-row">
            <div class="form-group col-md-2">
                <label>Str</label>
                <input [(ngModel)]="str" name="str" type="number" class="form-control" placeholder="Hero str"
                    readonly />
            </div>
            <div class="form-group col-md-2">
                <div class="col-md-1">
                    <label>
                        <div id="strHTML">-<br /></div>
                    </label>
                </div>
                <div class="col-md-1">
                    <a href='#' (click)="generateStr()" class="btn btn-primary">
                        <fa-icon [icon]="faDice"></fa-icon> STR
                    </a>
                </div>
            </div>
            <div class="form-group col-md-2">
                <label>Int</label>
                <input [(ngModel)]="int" name="int" type="number" class="form-control" placeholder="Hero int"
                    readonly />
            </div>
            <div class="form-group col-md-2">
                <div class="col-md-1">
                    <label>
                        <div id="intHTML">-<br /></div>
                    </label>
                </div>
                <div class="col-md-1">
                    <a href='#' (click)="generateInt()" class="btn btn-primary">
                        <fa-icon [icon]="faDice"></fa-icon> INT
                    </a>
                </div>
            </div>
            <div class="form-group col-md-2">
                <label>Dex</label>
                <input [(ngModel)]="dex" name="dex" type="number" class="form-control" placeholder="Hero dex"
                    readonly />
            </div>
            <div class="form-group col-md-2">
                <div class="col-md-1">
                    <label>
                        <div id="dexHTML">-<br /></div>
                    </label>
                </div>
                <div class="col-md-1">
                    <a href='#' (click)="generateDex()" class="btn btn-primary">
                        <fa-icon [icon]="faDice"></fa-icon> DEX
                    </a>
                </div>
            </div>
        </div>
        <div class="form-group">
            <button type="button" (click)="randomize()" class="btn btn-warning m-r-10">
                <i class="fa fa-magic"></i>
                Randomize Hero Values
            </button>
            <button type="submit" class="btn btn-success waves-effect waves-light m-r-10">
                <i class="fa fa-save"></i>
                Save
            </button>
            <a routerLink="/heroes" class="btn btn-inverse waves-effect waves-light">Cancel</a>
        </div>

    </div>
</form>

<div class="row animated fadeIn">

</div>