<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">

                <h3>Hero.</h3>
                Under construction. Pending tasks:
                <br>
                <ul class="list-group">
                    <li class="list-group-item">Show the Maximum Number of Available Heroes</li>
                    <li class="list-group-item">Show the most Popular Hero Race</li>
                    <li class="list-group-item">Show the most Popular Hero Class</li>
                    <li class="list-group-item">Show the most Popular Weapon</li>
                </ul> <br>
                <h3>Monster.</h3>
                Under construction. Pending tasks:
                <br>
                <ul class="list-group">
                    <li class="list-group-item">Show the Maximum Number of Available Monster</li>
                    <li class="list-group-item">Show the most Popular Race</li>
                    <li class="list-group-item">Show the most Popular Ability</li>
                </ul>

            </div>
        </div>
    </div>
</div>